*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background: #100236;
   color: #bca9ec;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   margin: 1rem auto;

   justify-content: center;
}

.box_main{
   position: absolute;
   background-color: #1e0e47;

   padding: 1.25rem;
   border-radius: 10px;

   margin: auto;

   justify-content: center;
   align-items: center;
}

button{
   width: 3.7rem;
   height: 3.7rem;
   font-size: 25px;
   cursor: pointer;
   border: none;
   border-radius: 8px;
   background: none;
   color: #c0adf0;
}

button:hover{
   background: #c0adf0;
   color: #000;
}

#btn_igual{
   background-color: #ff7300;
   border-radius: 50%;
}

#btn_igual:hover{
   border: 4px solid #f87e1a;
   color: #271405;
   box-shadow: 0px 0px 25px #f87e1a, 
               0px 0px 25px #f87e1a inset;
}

#btn_zero{
   width: 100%;
}

.copy_box{
   margin-top: 1rem;
   font-size: 10pt;
   text-decoration: none;
}

.copy_box a{
   text-decoration: none;
   color: #bca9ec;
   transition: .2s;
}

.copy_box a:hover{
   font-size: 11pt;
   transition: .2s;
   color: #bca9ec;
               
   text-shadow: 0px 0px 10px #042125,
                0px 0px 18px #bca9ec;
}

.tela{
   background-color: white;
   width: 100%;
   height: 2rem;
   color: #100236;
   border-radius: 5px;
   text-align: end;
   margin: 5px;
   
   font-size: 16pt;
}

.error{
   color: rgb(228, 126, 126);
   font-size: 12pt;
   text-align: center;
   /* padding: 5px; */
}

